@import './assets/fonts.scss';

$body_background-color: #F7F9FC;
$btn_background-color: #204969;
$body_background-color-alt: #DADADA;

$input_color: #535B63;
$input-hover_border_color: #204969;
$input_border_color: #CDD1D4;

$priority_color: #08FFC8;
$data_color: #CCFFF4;

$un-active_sort_color: #AEAEAE;

$white: #fff;
$black: #000;

$shadow_color: rgba(0, 0, 0, 0.1);
body {
    margin: 0;
    padding: 0;

    border-color: $body_background-color;
    *{
        margin: 0;
        padding: 0;

        font-family: 'Roboto', sans-serif;
    }
}

.input input,
.input textarea {
    display: flex;
    padding: 16px 20px;
    border: 1px solid $input_border_color;
    color: $input_color;
    transition: all 0.2s ease-in-out;
    border-radius: 4px;
    margin-bottom: 20px;
    &:focus {
        border: 5px solid $input-hover_border_color;
    }
}

.hidden {
    visibility: hidden;
}

.btn {
    display: flex;
    justify-content: center;
    align-items: center;

    height: 50px;
    
    color: $white;
    background-color: $btn_background-color;
    
    border: none;
    
    cursor: pointer;
    text-decoration: none;
    
    border-radius: 4px;
    transition: all 80ms;
    &:hover {
        background-color: $btn_background-color;
        opacity: 0.95;
        
        border: none;
    }
    &:active {
        background-color: $btn_background-color;
        opacity: 0.9;
        
        border: none;
    }
    
}

.wrapper {
    display: flex;
    justify-content: center;
    flex-direction: column;
    > *{
        display: flex;
    }

    .header {
        width: 100%;
        height: 100px;
        
        background-color: $white;
        
        justify-content: center;
        align-items: center;

        margin-bottom: 40px;

        box-shadow: 0 4px 10px 0 $shadow_color;
        &__title {
            font-size: 24px;
            width: 1920 - 490 * 2px;
            max-width: 100%;

            font-weight: 900;
        }
    }
    .content {
        flex-direction: column;
        align-items: center;
        &>* {
            width: 1920 - 490 * 2px;
        }
    
        &__btn-new-todo {
            margin-bottom: 60px;
        }

        &__todo-views {
            display: flex;
            flex-direction: column;
            &_sort {
                display: flex;
                margin-bottom: 20px;

                &_span {
                    font-size: 24px;
                    color: $un-active_sort_color;

                    height: 60px;
                    width: 30%;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    cursor: pointer;

                    transition: all 0.3s;

                    &:hover {
                        color: darken($un-active_sort_color, 10%);  
                    }

                    &:active {
                        color: darken($un-active_sort_color, 20%);  
                    }

                    &:not(:last-of-type) {
                        border-right: 1px solid #999999;
                        margin-right: 2%;
                    }
                    &.active {
                        color: $black;
                        font-weight: bold;
                        * {
                            margin-right: 10px;
                        }
                    }
                }
            }

            &_cards {
                display: flex;
                flex-direction: column;
                &_card {
                    background-color: $white;
                    display: flex;
                    flex-direction: column;
                    padding: 30px 20px 20px 30px;
                    box-shadow: 0 4px 10px 0 $shadow_color;
                    margin-bottom: 40px; 
                    
                    &_header {
                        display: flex;
                        align-items: center;
                        margin-bottom: 26px;

                        &_title {
                            font-size: 28px;
                            font-weight: bold;

                            width: 50%;
                        }
                        &_priority {
                            background-color: $priority_color;
                            color: $input_color;
                            width: 120px;
                            height: 42px;
                            border-radius: 4px;
                            display: flex;
                            align-items: center;
                            justify-content: center;

                            margin-right: 20px;
                            
                        }
                        &_data {
                            background-color: $data_color;
                            color: $input_color;
                            width: 120px;
                            height: 42px;
                            border-radius: 4px;
                            display: flex;
                            align-items: center;
                            justify-content: center;
                        }
                        
                    }

                    &_content {
                        font-size: 15px;
                        margin-bottom: 30px;
                    }

                    &_footer {
                        display: flex;
                        justify-content: flex-end;

                        &_btn {
                            width: 125px;
                        }
                    }
                }
            }
        }

        &__new-todo {
            &_top {
                display: flex;
                justify-content: space-between;
                align-items: center;
                width: 100%;
                height: 56px;
                border-bottom: 1px solid $input_border_color;
                margin-bottom: 20px;
                &_left {
                    display: flex;
                    align-items: center;
                    &_title {
                        font-size: 24px;
                        margin-left: 10px;
                    }
                }
                &_cancel {
                    width: 110px;
                    height: 42px;

                    font-size: 14px;
                    background-color: $body_background-color-alt;
                    color: black;

                    transition: all 0.1s;
                    &:hover {
                        background-color: darken($body_background-color-alt, 10%);
                    }
                    &:active {
                        background-color: darken($body_background-color-alt, 20%);
                    }
                }
            }
            &_input-about,
            &_input-title,
            &_input-data {
                &_input {
                    width: 96%;
                }
            }
           
            &_input-about{
                &_input {
                min-height: 144px; 
                white-space: pre-wrap;
                resize: none;
                }
            }
    
            &_bottom {
                display: flex;
                &_priority {
                    width: 380px;
                    height: 49px;
                    border-radius: 4px;
                    margin-left: 40px;


                    position: relative;
                    background-color: $white;
                    border: solid 1px $input_border_color;

                    &_placeholder {
                        padding-left: 20px;
                        color: $input_color;
                        font-size: 10px;
                    }
                    &_active-priority {
                        padding-left: 20px;
                        font-size: 17px;
                        font-weight: normal;
                    }
                    &_popup {
                        top: 48px;
                        border-radius: 0 0 4px 4px;
                        border-top: 1px solid $input_border_color;

                        position: absolute;
                        display: flex;
                        flex-direction: column;
                        
                        &_stroke {
                            height: 54px;
                            width: 360px;
                            font-size: 17px;
                            padding-left: 20px;

                            color: $input_color;

                            display: flex;
                            justify-content: start;
                            align-items: center;
                            background-color: $white;


                            box-shadow: 0 4px 8px  $shadow_color;
                        }
                    }
                    &_arrow {
                        position: absolute;
                        right: 2%;
                        top: 40%;
                    }
                }
                &_accept {
                    margin-left: 200px;
                    &_btn {
                        width: 120px;
                    }
                }
            }

        }
    }
} 